body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

/* Решта коду */
header {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 76px;
    margin-left: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 115px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo .plan-name {
    color: #2E2F42;
}

.logo .plan-name-footer {
    color: #F4F4FD;
}

.nav-page {
    display: flex;
    gap: 40px;
    width: 261px;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.nav-page .link {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    border: none;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-page .link:hover {
    color: #404BBF;
}

.nav-page .link:focus {
    color: #404bbf;
}

.nav-page .link:active {
    color: #404BBF;
    text-decoration: underline;
}

.link-studio {
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: #404BBF;
    padding-bottom: 24px;
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    display: flex;
    font-style: normal;
    gap: 40px;
    padding: 0;
    margin: 24px 0 24px;
}

.address .link {
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
}

.address .link:focus {
    color: #404bbf;
}

.address .link:hover {
    color: #404BBF;
}

.main-page {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}


.main-page-title {
    display: block;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    background: #4D5AE5;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 169px;
    height: 56px;
    flex-direction: row;
    gap: 10px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
    background: #404BBF;
}

.features {
    padding-bottom: 120px;
    padding-top: 120px;
}

.features-heading {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.features-item {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.title-features {
    margin-bottom: 8px;
    margin-top: 0;
}

.features-icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.icons-card {
    width: 64px;
    height: 64px;
}

.text-box {
    width: calc((100% - 72px) / 4);
}

.title {
    margin: 0;
}

.text {
    margin: 0;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;

}

h3 {
    margin: 0;

}

p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-top: 0;
    margin-bottom: 72px;
}

.team {
    background-color: #F4F4FD;
}

.team-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-text {
    padding: 32px 0;
}

.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.text-team {
    text-align: center;
    margin-bottom: 8px;
}

.icons-team {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.icons {
    width: 40px;
    height: 40px;
}

.social-icons {
    fill: #F4F4FD;
}

.social-link {
    background-color: #4D5AE5;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background-color: #404bbf;
}

.social-link:focus {
    background-color: #404bbf;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
    margin-top: 0;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-left: 0;
    margin: 0;
}

.card {
    width: calc((100% - 48px) / 3);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-image {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: #4d5ae5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    color: #f4f4fd;
}

.card-image:hover .overlay {
    transform: translateY(0)
}

.portfolio-card-text {
    border: 1px solid #e7e9fc;
    width: 360px;
    border-top: none;
    padding: 32px 16px;

}

.portfolio-card-text:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}

.title-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 0;
}

.footer {
    background-color: #2E2F42;
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.content-footer {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin: 0;
}

.social-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.icons-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    margin-right: 80px;
}

.link-footer {
    background-color: #4D5AE5;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-footer:hover {
    background-color: #31D0AA;
}

.link-footer:focus {
    background-color: #31D0AA;
}

.report-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}


.form {
    display: flex;
    gap: 24px;
    align-items: flex-end;

}

.form-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: #2E2F42;
    padding-left: 16px;
}

input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

input,
button {
    font-family: inherit;
    line-height: inherit;
}

.form-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.form-input:hover {
    border-color: #31D0AA;
}

.form-button {
    display: flex;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    width: 165px;
    height: 40px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-label {
    width: 24px;
    height: 20px;
}

.form-button:focus {
    background-color: #31D0AA;
}

.form-button:hover {
    background: #31D0AA;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.4);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 408px;
    height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
}

.modal .form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;

}

.modal-btn {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    fill: #E7E9FC;
    stroke-width: 1px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: #2E2F42;

}

textarea {
    max-width: 360px;
    max-height: 120px;
}

.form-label-modal {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-button-send {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-box {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.checkbox-icon {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    width: 16px;
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    fill: #2E2F42;
    margin-left: 19px;
}

.icon-input-modal {
    position: relative;
}